/*CONFIGURAÇÕES GERAIS -  FONTES -  ANIMACOES */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'FontePoke';
}
@font-face{
	font-family:'FontePoke';
	src: url('../GrinchedRegular.otf');
}

@keyframes pokebola{
	0%{
		transform: rotate(0) scale(1.0);
	}

	25%{
		transform: rotate(-45deg) scale(1.05);

	}

	50%{
		transform: rotate(0) scale(1.0) ;
	}

	75%{
		transform: rotate(45deg) scale(1.05);
	}

	100%{
		transform: rotate(0) scale(1.0);
	}
}





main{
	width: 100%;
	height: 100vh;
	background-color: slateblue;

}

#container{
	text-align: center;
	padding-top: 80px;
	
}
#titulo{
	
	color: yellow;
	font-size: 80px;
	text-align: center;

	
	
}

#img-pokebola{
	width: 90px;
	margin: auto;
	margin-bottom: 15px;
	display: block;
	animation: pokebola 3s infinite ;
}

#iniciar{
	text-align: center;
	padding: 5px;
	border-radius: 15px;
	font-size: 35px;
	background-color: yellow;
	color: slateblue;
	border: none;
	cursor: pointer;
	text-decoration: none;
}