*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'FontePoke';
	
}
@font-face{
	font-family:'FontePoke';
	src: url('../fonts/GrinchedRegular.otf');
}
button{
	width: 85px;
	height: 40px;
	position: absolute;


}
body{
	background-color: slateblue;
}

main{
	width: 100%;
	height: 100vh;
	position: relative;
}

#gameOver{
	font-size: 50px;
	color: white;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 4;
	visibility: hidden;


}

#gameOver button{
	margin-top: 40px;
}




.row{
	min-width: 405px;
	text-align: center;
	
}
.stage{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	text-align: center;
	

}
.square{
	width: 130px;
	height: 130px;


	background-color: beige;
	border: 1px solid black;
	display: inline-block;
	background-color: yellow;
	position: relative;


}

.ajuste-tabuleiro{

	position: absolute;


}

.stage img{
	
	width: 75%;
	height: 75%;
}



@media screen and (max-width: 1400px){

	.row{
	min-width: 800px;
	
		}

	.square{
	width: 170px;
	height: 170px;
		}


}

@media screen and (max-width: 1000px){

	.row{
	min-width: 630px;
	
		}

	.square{
	width: 170px;
	height: 170px;
		}


}

@media screen and (max-width: 1000px) and (orientation: landscape){

		.row{
	min-width: 500px;
	
	
		}

	.square{
	width: 110px;
	height: 110px;
		}


}




@media screen and (max-width: 650px){

	
	.row{
	min-width: 420px;
	
		}

	.square{
	width: 130px;
	height: 130px;
		}


}

@media screen and (max-width: 650px) and (orientation: landscape){

		.row{
	min-width: 400px;
	
	
		}

	.square{
	width: 85px;
	height: 85px;
		}


}

@media screen and (max-width: 405px){

	.row{
	min-width: 300px;
	
		}

	.square{
	width: 95px;
	height: 95px;
		}


}

